<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrint-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Trello - klon - pwa</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Trello klon - PWA 2020</h1>
            <hr class="mt-0 mb-4">
            {% block title %}
            {% endblock %}
        </div>
        <div class="col-8">
            {%  block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>