.board {
    background-color: #f6b737;
    border-radius: 8px;
    border-style: solid;
    border-color: #86aadf;
    border-width: 3px;
}

.board-body{
    border-style: solid;
}

.tab {
    background-color: yellow;
}

.tab-body{
    background-color: red;
}
.tab_remove{
    border_style:solid;
}